[submodule ".github/.copilot-core"]
	path = .github/.copilot-core
	url = https://github.com/pdmartins/.github.git
	branch = main
[submodule ".github/.copilot-project"]
	path = .github/.copilot-project
	url = https://github.com/pdmartins/.github-project.git
	branch = scripts
